table {
  border-collapse: collapse;
  width: 100%;
}
table, tr, th, td {
  border: 1px solid;
  text-align: center;
}
li.features {
  margin-bottom: 0.25em;
}
#middle ul {
  margin-top: 0em;
}
div.toolchain {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding-left: .5em;
  padding-right: .5em;
  padding-top: 0em;
  padding-bottom: .5em;
}
