* { padding: 0; margin: 0; }
a img { border: 0; }

html {
	font: 0.9em Tahoma, Helvetica, sans-serif;
	color: #303030;
	background: #f6f6f6;
}

body {
	margin: 0 auto;
	width: 95%;
	min-width: 570px;
	padding: 1em 0;
}

#skip-to-content {
	position: absolute; 
	top: 1em;
	left: 1em;
	text-indent: -999em;
}



/***************
	HEADER
***************/

#header {
	width: 100%;
	background: #9f9f9f;
	border: 1px solid #666666;
	height: 8em;
	display: block;
	position: relative;
	border-radius: 2px;
	margin-bottom: 1em;
	text-align: center;
}

#header span.title, #header span.sub {
	display: block;
	color: #f1f1f1;
	font-size: 2.2em;
	font-weight: bold;
	letter-spacing: -0.05em;
	text-shadow: 1px 1px 1px #111;
}

#header span.sub {
	font-size: 1.5em;
	color: white;
}

#header a.logo {
	display: inline;
	font: 2em tahoma;
	font-weight: bold;
	position: absolute;
	bottom: 0.2em;
	left: 20px;
	letter-spacing: -0.02em;
	text-shadow: 1px 1px 1px #fff;
}

#header a.logo span {
	font-size: 0.3em;
	vertical-align: top;
	position: relative;
	top: 1.1em;
}

#header span.title a:link, #header span.title a:visited, #header span.title a:active, #header span.title a:hover {
	text-decoration: none;
	color: white;
}

#header a.logo:link, #header a.logo:visited, #header a.logo:active, #header a.logo:hover {
	text-decoration: none;
	color: #1555ad;
}

#header a.logo:hover {
	color: #082354;
}

#header span.title a:hover {
	color: #c6daff;
}


/***************
	LEFT COLUMN
***************/

#left {
	width: 10.5em;
	float: left;
}

#left ul {
	list-style: none;
}

#left ul li {
	margin: 0.6em 0;
	border: 1px solid #a2a2a2;
	background: #e3e3e3;
}

#left ul li a {
	display: block;
	padding: 0.5em 1em;
	background: #e2e2e2;
	font-weight: bold;
	text-decoration: none;
}

* html #left ul li a { zoom: 1; } /* menu fix for ie6 */


#left ul ul li {
	margin: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

#left ul li li a {
	padding: 0.5em 1em 0.5em 1.5em;
	font-size: 0.8em;
	font-weight: normal;
}

#left ul li a:hover {
	background-color: #cbcbcb;
	text-decoration: underline;
}

#left ul li.active a {
	background: #1555ad;
	color: white;
}

#left ul li.active li a {
	background: #1555ad;
}



/***************
	MAIN CONTENT
***************/

#middle {
	margin: 0 10.5em;
	padding: 1em 1.5em;
	line-height: 1.3em;
}

#middle a:hover, #footer a:hover {
	color: #0051c0;
}

#middle ul {
	margin: 1em 2em;
}

#middle h1 {
	border-bottom: 2px solid #cdcdcd;
	padding-bottom: 0.3em;
}

#middle h2 {
	border-bottom: 1px solid #cdcdcd;
	margin: 1em 0 0 0;
	padding-bottom: 0.2em;
}

#middle h3 {
	border-bottom: 1px solid #cdcdcd;
	margin: 1em 0 0 0;
	padding-bottom: 0.2em;
}

#middle ul li {
  display: block;
}

#middle p {
	margin: 1em 0;
}

#middle img {
	margin: 0.5em 0;
}

#middle .news, #middle .projects {
	display: inline-block;
	width: 48%;
	background: #efefef;
	vertical-align: top;
  font-size: 0.9em;
}

* html #middle .news, * html #middle .projects { display: inline; }
*+html #middle .news, *+html #middle .projects { display: inline; }

#middle .news {
	margin-left: 1%;
  padding: 0;
}

#middle .news h3, #middle .projects h3 {
	padding: 0.3em 1em;
	border-bottom: 1px solid #fff;
	background: #ebd3d3;
	text-align: left;
}

#middle .projects {
	text-align: center;
}

#middle .projects h3 {
	background: #d3e0eb;
}

#middle .projects a {
  width: 45%;
  display: inline-block;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 2%;
  margin-right: 2%;
  overflow: hidden;
  vertical-align: middle;
  border-bottom: 2px solid white;
  text-align: left;
}

#middle .news ul {
  margin: 0;
}

#middle .news ul li {
  list-style: none;
  display: block;
  border-bottom: 2px solid white;
}

#middle .news ul li a {
  display: block;
  padding: 1em;
}

#middle .news ul li a span.date, #middle .news ul li a:link span.date, #middle .news ul li a:visited span.date, #middle .news ul li a:active span.date {
  text-decoration: none;
  font-size: 0.85em;
  color: black;
}

#middle .news ul li a:hover, #middle .projects a:hover {
  background: #ddd;
}

#middle .download div {
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-bottom: 1.5em;
}

#middle .download div table {
  border-collapse: collapse;
  width: 100%;
}

#middle .download div .additional-software {
  line-height: 1em;
  font-size: 0.9em;
}

#middle .download div table, #middle .download div tr, #middle .download div th, #middle .download div td {
  border: 1px solid;
  text-align: center;
}

/***************
	FOOTER
***************/
#footer {
	padding: 1em 0;
	border-top: 2px solid #e1e1e1;
	text-align: center;
	font-size: 0.7em;
	clear: both;
}
